<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout2.html}">

<head>
    <title>Device Info List</title>
</head>
<body>
<div layout:fragment="custom-content">
    <div class="row">
        <div class="col-12 grid-margin">
            <table id="example" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                <thead>
                <tr>
                    <th>Available Seats</th>
                    <th>Sold Seat</th>
                    <th>Total Seat</th>
                    <th>Train_id</th>
                    <th>Compartment_id</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>56</td>
                    <td>23</td>
                    <td>120</td>
                    <td>709</td>
                    <td>503</td>
                </tr>
                <tr>
                    <td>45</td>
                    <td>34</td>
                    <td>150</td>
                    <td>708</td>
                    <td>502</td>
                </tr>
                <tr>
                    <td>78</td>
                    <td>45</td>
                    <td>180</td>
                    <td>705</td>
                    <td>502</td>
                </tr>
                <tr>
                    <td>89</td>
                    <td>78</td>
                    <td>150</td>
                    <td>707</td>
                    <td>506</td>
                </tr>
                <tr>
                    <td>67</td>
                    <td>56</td>
                    <td>130</td>
                    <td>702</td>
                    <td>508</td>
                </tr>
                </tbody>
            </table>

            <table cellspacing="0" cellpadding="0" border="0">
                <tbody>
                <tr>
                    <td class="gutter">
                        <div class="line number1 index0 alt2" style="display: none;">1</div>
                    </td>
                    <td class="code">
                        <div class="container" style="display: none;">
                            <div class="line number1 index0 alt2" style="display: none;">&nbsp;</div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

</body>
</html>