<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">

<body>
//footer
<footer id="gtco-footer" role="contentinfo" th:fragments="copyright">
    <div class="gtco-container">
        <div class="row row-p	b-md">

            <div class="col-md-4">
                <div class="gtco-widget">
                    <h3>About Us</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore eos molestias quod sint ipsum possimus temporibus officia iste perspiciatis consectetur in fugiat repudiandae cum. Totam cupiditate nostrum ut neque ab?</p>
                </div>
            </div>

            <div class="col-md-2 col-md-push-1">
                <div class="gtco-widget">
                    <h3>Destination</h3>
                    <ul class="gtco-footer-links">
                        <li><a href="#">Dhaka</a></li>
                        <li><a href="#">Shylet</a></li>
                        <li><a href="#">Chittagoan</a></li>
                        <li><a href="#">Khulna</a></li>
                        <li><a href="#">Dinagpur</a></li>
                        <li><a href="#">Nilfamari</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-2 col-md-push-1">
                <div class="gtco-widget">
                    <h3>Hotels</h3>
                    <ul class="gtco-footer-links">
                        <li><a href="#">Dhaka Hotel</a></li>
                        <li><a href="#">Chittagoan 5 Star hotel</a></li>
                        <li><a href="#">Nilfamari Hotel</a></li>
                        <li><a href="#">Khulna Hotel</a></li>
                        <li><a href="#">Dinagpur Hotel</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-md-push-1">
                <div class="gtco-widget">
                    <h3>Get In Touch</h3>
                    <ul class="gtco-quick-contact">
                        <li><a href="#"><i class="icon-phone"></i> +1 234 567 890</a></li>
                        <li><a href="#"><i class="icon-mail2"></i> info@freehtml5.co</a></li>
                        <li><a href="#"><i class="icon-chat"></i> Live Chat</a></li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="row copyright">
            <div class="col-md-12">
                <p class="pull-left">
                    <small class="block">&copy; 2018 All Rights Reserved.</small>
                    <small class="block">Designed by Demo Images: <a href="http://unsplash.com/" target="_blank">Unsplash</a></small>
                </p>
                <p class="pull-right">
                <ul class="gtco-social-icons pull-right">
                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-linkedin"></i></a></li>
                    <li><a href="#"><i class="icon-dribbble"></i></a></li>
                </ul>
                </p>
            </div>
        </div>

    </div>
</footer>
</body>
</html>