<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav class="gtco-nav" role="navigation" th:fragments="main-navber">
    <div class="gtco-container">

        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <div id="gtco-logo"><a href="index.html">Traveler <em>.</em></a></div>
            </div>
            <div class="col-xs-8 text-right menu-1">
                <ul>
                    <li><a href="destination.html">Destination</a></li>
                    <li class="has-dropdown">
                        <a href="#">Travel</a>
                        <ul class="dropdown">
                            <li><a href="#">Dhaka</a></li>
                            <li><a href="#">Shylet</a></li>
                            <li><a href="#">Chittagoan</a></li>
                            <li><a href="#">Khulna</a></li>
                            <li><a href="#">Dinagpur</a></li>
                            <li><a href="#">Nilfamari</a></li>
                        </ul>
                    </li>
                    <li><a href="pricing.html">Pricing</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
        </div>

    </div>
</nav>

</body>
</html>