<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout2.html}">

<head>
    <title>Device Info List</title>
</head>
<body>
<div layout:fragment="custom-content">
    <div class="row">
        <div class="col-12 grid-margin">
            <table id="example" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                <thead>
                <tr>
                    <th>SeatNo</th>
                    <th>CabinNo</th>
                    <th>Compartment_id</th>
                    <th>TrainClass_id</th>


                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>608</td>
                    <td>0</td>
                    <td>507</td>
                    <td>990</td>
                </tr>
                <tr>
                    <td>609</td>
                    <td>0</td>
                    <td>506</td>
                    <td>991</td>
                </tr>
                <tr>
                    <td>0</td>
                    <td>604</td>
                    <td>508</td>
                    <td>992</td>
                </tr>
                <tr>
                    <td>607</td>
                    <td>0</td>
                    <td>500</td>
                    <td>999</td>
                </tr>
                <tr>
                    <td>0</td>
                    <td>690</td>
                    <td>509</td>
                    <td>998</td>
                </tr>
                </tbody>
            </table>

            <table cellspacing="0" cellpadding="0" border="0">
                <tbody>
                <tr>
                    <td class="gutter">
                        <div class="line number1 index0 alt2" style="display: none;">1</div>
                    </td>
                    <td class="code">
                        <div class="container" style="display: none;">
                            <div class="line number1 index0 alt2" style="display: none;">&nbsp;</div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

</body>
</html>