<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout2.html}">

<head>
    <title>Role Create</title>
</head>
<body>
<div layout:fragment="custom-content">
    <div class="row">


        <div class="col-12 stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Add Seat Details</h4>

                    <form class="forms-sample" th:object="${obj}" method="post"
                          >
                        <div class="form-group row">
                            <label for="train_id" class="col-sm-3 col-form-label">Train_id</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="train_id"  required
                                       placeholder="Enter Train_id">

                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="compartment_id" class="col-sm-3 col-form-label">Compartment_id</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="compartment_id"  required
                                       placeholder="Enter Compartment_id">

                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="seatOrCabin_id" class="col-sm-3 col-form-label">SeatOrCabin_id</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="seatOrCabin_id"  required
                                       placeholder="Enter SeatOrCabin_id">

                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="status" class="col-sm-3 col-form-label">Status</label>
                            <div class="col-sm-9">
                                <input type="radio" class="form-control" id="status"   required
                                       >True<input type="radio" class="form-control"   required
                            >False


                            </div>
                        </div>





                        <button class="btn btn-success mr-2 float-right">Submit</button>
                        <button type="submit" class="btn btn-light mr-2 float-right">Reset</button>

                    </form>
                </div>
            </div>
        </div>


    </div>

</div>

</body>
</html>