<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout2.html}">

<head>
    <title>Device Info List</title>
</head>
<body>
<div layout:fragment="custom-content">
    <div class="row">
        <div class="col-12 grid-margin">
            <table id="example" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                <thead>
                <tr>
                    <th>Route Name</th>
                    <th>stationFrom</th>
                    <th>stationTo</th>


                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>RajshahiEX</td>
                    <td>Dhaka</td>
                    <td>Rhajshahi</td>

                </tr>
                <tr>
                    <td>KhulnEX</td>
                    <td>Dhaka</td>
                    <td>Khulna</td>
                </tr>
                <tr>
                    <td>DhakaEX</td>
                    <td>Dinajpur</td>
                    <td>Dhaka</td>
                </tr>
                <tr>
                    <td>ShyletEX</td>
                    <td>Dhaka</td>
                    <td>Shylet</td>
                </tr>
                <tr>
                    <td>NilfamariEX</td>
                    <td>Dhaka</td>
                    <td>Nilfamari</td>
                </tr>
                </tbody>
            </table>

            <table cellspacing="0" cellpadding="0" border="0">
                <tbody>
                <tr>
                    <td class="gutter">
                        <div class="line number1 index0 alt2" style="display: none;">1</div>
                    </td>
                    <td class="code">
                        <div class="container" style="display: none;">
                            <div class="line number1 index0 alt2" style="display: none;">&nbsp;</div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

</body>
</html>