<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout2.html}">

<head>
    <title>Device Info List</title>
</head>
<body>
<div layout:fragment="custom-content">
    <div class="row">
        <div class="col-12 grid-margin">
            <table id="example" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                <thead>
                <tr>
                    <th>Train Name</th>
                    <th>Train No</th>
                    <th>Schedule Time_id</th>
                    <th>Route_id</th>
                    <th>Station_id</th>


                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Shuborno Express</td>
                    <td>706</td>
                    <td>001</td>
                    <td>2098</td>
                    <td>9040</td>
                </tr>
                <tr>
                    <td>Shundorbon Express</td>
                    <td>708</td>
                    <td>002</td>
                    <td>2089</td>
                    <td>9050</td>
                </tr>
                <tr>
                    <td>Rogpur Express</td>
                    <td>707</td>
                    <td>003</td>
                    <td>2067</td>
                    <td>9060</td>
                </tr>
                <tr>
                    <td>Shylet Express</td>
                    <td>704</td>
                    <td>004</td>
                    <td>2083</td>
                    <td>9070</td>
                </tr>
                <tr>
                    <td>Dinajpur Express</td>
                    <td>705</td>
                    <td>005</td>
                    <td>2034</td>
                    <td>9080</td>
                </tr>
                </tbody>
            </table>

            <table cellspacing="0" cellpadding="0" border="0">
                <tbody>
                <tr>
                    <td class="gutter">
                        <div class="line number1 index0 alt2" style="display: none;">1</div>
                    </td>
                    <td class="code">
                        <div class="container" style="display: none;">
                            <div class="line number1 index0 alt2" style="display: none;">&nbsp;</div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

</body>
</html>