<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout2.html}">

<head>
    <title>Device Info List</title>
</head>
<body>
<div layout:fragment="custom-content">
    <div class="row">
        <div class="col-12 grid-margin">
            <table id="example" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                <thead>
                <tr>
                    <th>Compartment No</th>
                    <th>Compartment Name</th>
                    <th>Train_id</th>


                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>502</td>
                    <td>KH-1</td>
                    <td>709</td>
                </tr>
                <tr>
                    <td>503</td>
                    <td>KH-2</td>
                    <td>707</td>
                </tr>
                <tr>
                    <td>504</td>
                    <td>KH-3</td>
                    <td>706</td>
                </tr>
                <tr>
                    <td>508</td>
                    <td>KH-4</td>
                    <td>705</td>
                </tr>
                <tr>
                    <td>505</td>
                    <td>KH-5</td>
                    <td>708</td>
                </tr>
                </tbody>
            </table>

            <table cellspacing="0" cellpadding="0" border="0">
                <tbody>
                <tr>
                    <td class="gutter">
                        <div class="line number1 index0 alt2" style="display: none;">1</div>
                    </td>
                    <td class="code">
                        <div class="container" style="display: none;">
                            <div class="line number1 index0 alt2" style="display: none;">&nbsp;</div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

</body>
</html>